Source: pt-touchscreen
Section: utils
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://pi-top.com/

Package: pt-touchscreen
Architecture: armhf
Depends: ${misc:Depends},
 touchegg
Description: pi-top Touchscreen Support
 Dependency package for configuring anything relating to
 touchscreen support on pi-topOS.
