SUBSYSTEM=="usb"                                          \
, ACTION=="add"                                           \
, ATTR{product}=="FT5926 MultiTouch"                      \
, ATTR{manufacturer}=="Focaltech Systems"                 \
, ENV{DISPLAY}=":0"                                       \
, RUN="/usr/bin/touch /tmp/pt-hotplug-display.breadcrumb"
